<a href="https://colab.research.google.com/github/ZoubirCHATTI/04_SQL/blob/main/01_Basic_SQL_operations/SQL_BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Managing a Synthetic Library with SQLite**

This notebook illustrates fundamental SQL operations through the creation and manipulation of a synthetic library database. The dataset consists of several books authored by different writers and published on various dates, with availability status recorded for each entry.

The following tasks are demonstrated:

Identifying available books

Searching for a specific book by title

Filtering books by publication date

Executing additional queries to explore and manage the dataset

This notebook serves as a practical example of how to construct and query a relational database using SQL, providing a foundation for more advanced database operations.

In [1]:
#Import of sqlite3 for generating and manipulating sql operations
import sqlite3

In [2]:
#Connection of a sybthetic library database
conn=sqlite3.connect("library.db")                 #If the database doesn'n exist, it will be created
cursor=conn.cursor()                               #Creation of cursor object

In [3]:
#Creation of table book, that contains informations about different books in the synthetic library
#The table contains informations about books such as id, name, author, publication date and its availability
cursor.execute("""create table if not exists book(
  id integer primary key,
  name text,
  author text,
  date integer,
  availability text

)"""
)

In this section, we will insert the books into the table "book" in the synthetic database, there are 100 books in the library with their informations from the id to their availability

In [4]:
#Insert of different books with their id, names, authors, date and availability
cursor.execute("insert into book (id, name, author, date, availability) values (1 ,  'Le Petit Prince', 'Antoine de Saint-Exupéry',1943, 'yes') ")
cursor.execute("insert into book (id, name, author, date, availability) values (2 ,  'L Étranger', 'Albert Camus',1942, 'yes') ")
cursor.execute("insert into book (id, name, author, date, availability) values (3 ,  'Les Misérables', 'Victor Hugo',1862, 'no') ")
cursor.execute("insert into book (id, name, author, date, availability) values (4 ,  '1984', 'George Orwell',1949, 'yes') ")
cursor.execute("insert into book (id, name, author, date, availability) values (5 ,  'La Peste', 'Albert Camus',1947, 'no') ")
cursor.execute("insert into book (id, name, author, date, availability) values (6 ,  'Rich Dad Poor Dad', 'Robert Kiyosaki',1997, 'yes') ")
cursor.execute("insert into book (id, name, author, date, availability) values (7 ,  'Animal Farm', 'George Orwell',1945, 'yes') ")
cursor.execute("insert into book (id, name, author, date, availability) values (8 ,  'Les 7 habitudes de ceux qui réussissent', 'Stephen R. Covey',1989, 'no') ")
cursor.execute("insert into book (id, name, author, date, availability) values (9 ,  'Comment se faire des amis', 'Dale Carnegie	',1989, 'no') ")
cursor.execute("insert into book (id, name, author, date, availability) values (10 , 'Cashflow Quadrant', 'Robert Kiyosaki',1998, 'no') ")

As a start, we will check available books written by "George Orwell

In [5]:
#Looking for book written by George Orwell that are available in the library
cursor.execute("SELECT * FROM book WHERE author='George Orwell' AND availability='yes'")
rows=cursor.fetchall()   #Give all the data returned by the querry
for row in rows:
  print(row)             #Printing the results

(4, '1984', 'George Orwell', 1949, 'yes')
(7, 'Animal Farm', 'George Orwell', 1945, 'yes')

In this part of the code, we search for books that were published before a specified date. The workflow is as follows:

The user inputs a date.

The program queries the database for books published before that date.

If one or more books are found, their details (ID, name, author, publication date, availability, etc.) are displayed.

If no books match the criteria, the program notifies the user that no books were found before the specified date.

This allows users to efficiently filter the library collection by publication date and quickly find relevant books.

In [6]:
#Looking for books written before a certain date
publication_date=int(input("Enter the date:"))                              #We enter the specified data, it should be an integer
cursor.execute("select * from book where date < ?", (publication_date,))    #The program querries the database looking for books before the mentionned date
res=cursor.fetchall()
if res:
  for re in res:
    print(re)                                                               #If it found one or more, it will print their details
else:
  print(f"There are no books publisher before {publication_date}")          # If no books match the criteria, it notifies the user

Enter the date:1940
(3, 'Les Misérables', 'Victor Hugo', 1862, 'no')

This part is similar to the previous one, but instead of introducing publication data, we look for books written by a certain author

In [7]:
#Looking for books written by certain author
author=str(input("enter the authot name:"))                              #enter the author name
cursor.execute("select *from book where author=?", (author,))            #The program querries the databas for any books written by the author
results=cursor.fetchall()
if results:
  for r in results:
    print(r)                                                             #If any found, it will print them
else:
  print(f"Sorry, but there is no book written by the author {author}")   #else if there is no book written by the mentionned author, it will notify you

enter the authot name:George Orwell
(4, '1984', 'George Orwell', 1949, 'yes')
(7, 'Animal Farm', 'George Orwell', 1945, 'yes')

In this part of the code, we use the SQL COUNT function to determine how many books meet a specific criterion. The workflow is as follows:

The user inputs the criterion (e.g., author, genre, availability) and the condition (e.g., a specific author name, “available” status).

The program executes a query to count the number of books that match the given criterion and condition.

The result is displayed, showing how many books satisfy the specified requirements.

This approach allows users to quickly aggregate information about the library collection based on dynamic filters.

In [ ]:
#Looking for number of available books
cursor.execute("select count(*)from book where availability='yes'")  #Using the function count to count the number of available books
counts=cursor.fetchall()
for c in counts:
  print(c)

In [11]:
#Looking for number of books that fit certain criteria
criterion=str(input("criterion="))                                         #Enter the criterion (author, availability...), it must be a column in the table
condition=input("condition=")                                              #Enter the condition ( for availability: yes/no, for date: 1990... )
cursor.execute(f"select count(*)from book where {criterion}={condition}")  #Count the number of books fit the criterion and the condition
counts=cursor.fetchall()
if counts:
  for c in counts:
    print(f"the number of books with {criterion}={condition} is {c}")

criterion=date
condition=1943
the number of books with date=1943 is (1,)

In [17]:
#Looking for a book name by entering its id
identifier=int(input("Enter the id of the book you are looking for:"))
cursor.execute("select name from book where id=?", (identifier,))
name=cursor.fetchone()
print(f"the name of the book you want to borrow is{name}")

Enter the id of the book you are looking for:5
the name of the book you want to borrow is('La Peste',)

In [19]:
#Checking if the book is available
cursor.execute("select availability from book where id=?", (identifier,))
yes_no=cursor.fetchall()
if yes_no=='yes':
  print("the book is available")
else:
  print("The book is not available")

The book is not available

This section focuses on looking for the name of a book by knowing its id, and checking if it is available or not

In [12]:
#From book id, we detemine the name of the book and if it is availble or not
book_id=int(input("Enter the id of the book you are looking for:"))             #Enter the book id (it must be an integer)
cursor.execute("select availability, name from book where id=?", (book_id,))    #looking for the book name and checking if it is available
results=cursor.fetchone()
if results:
  available, name= results
  status= "available" if available else "not available"
  print(f"The book '{name}' is {status}")                                       #Printing the status of the book if it is available or not

Enter the id of the book you are looking for:5
The book 'La Peste' is available